@import url("https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap");
:root {
  --pointer: #d2d8d2;
  --textColor: #171216;
  --background: #879f87;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #456464;
}

body {
  font-family: "Zen Antique Soft", serif;
  font-size: 12px;
  position: relative;
  background-color: var(--background);
  overflow: overlay;
}

.noise-overlay {
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50000;
  width: 100%;
  height: 100%;
  background-image: url("../images/noise.png");
  background-position: 0 0;
  background-size: 250px 250px;
  opacity: 0.4;
}

header {
  padding: 2em 7em 1.5em;
  z-index: 6000;
}
header .container {
  padding-top: 0.25em;
  display: flex;
  align-items: center;
}

.top-link,
.logo {
  display: inline-block;
  text-decoration: none;
  color: var(--textColor);
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  margin-right: auto;
  letter-spacing: 1.2px;
}

.top-link {
  font-size: 26px;
  line-height: 26px;
  margin: 0 0.8em;
}

.nav-button-overlay {
  position: fixed;
  left: auto;
  top: 2vw;
  right: 6vw;
  bottom: auto;
  z-index: 10000;
  display: flex;
  min-height: 80px;
  align-items: center;
  cursor: pointer;
  z-index: 20000;
  opacity: 0;
  transform: translate3d(30px, -20px, 0) scale(0.7);
  transition: all 0.2s ease-out 0s;
}
.nav-button-overlay .close,
.nav-button-overlay .menu {
  margin-top: -6px;
}
.nav-button-overlay .menu-text,
.nav-button-overlay .menu-close {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
}
.nav-button-overlay .menu-close {
  display: none;
}
.nav-button-overlay.show {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
  transition: all 0.4s ease-out 0.2s;
}
.nav-button-overlay .nav-button {
  width: 60px;
  height: 90px;
  border-radius: 50px;
  background-color: #3a2e39;
  color: #fff;
  transition: all 1s ease-out;
}
.nav-button-overlay .nav-button.open {
  background-color: black;
}
.nav-button-overlay .nav-button.open .menu-text {
  display: none;
}
.nav-button-overlay .nav-button.open .menu-close {
  display: flex;
}

.overlay-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #3a2e39;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: all 1.2s ease;
  z-index: 20000;
}
.overlay-menu.open {
  transform: translateX(0);
}
.overlay-menu .link-wrapper {
  padding: 3em 0;
  height: 100%;
}
.overlay-menu .overlay-link {
  color: #f8f8f8;
  display: block;
  text-decoration: none;
  font-size: min(22vw, 22vh);
  line-height: min(21vw, 21vh);
  font-weight: lighter;
  text-align: center;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s ease;
}
.overlay-menu .overlay-link:hover {
  color: #879f87;
}
.overlay-menu .overlay-link.active {
  opacity: 0.1;
}
.overlay-menu .overlay-link span {
  display: inline-block;
  transform: translateY(100%);
}
.overlay-menu .overlay-link span.animate {
  -webkit-animation: slideUp 1.2s ease;
          animation: slideUp 1.2s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.hero-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: default;
  pointer-events: none;
}
.hero-wrap .container {
  overflow: hidden;
  position: fixed;
  background-color: var(--background);
  opacity: 1;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transition: all 1s ease-out;
}

.image-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.image-wrapper .hero-image {
  width: min(48vw, 615px);
  height: max(58vh, 410px);
  margin-top: 0.8em;
  transform-origin: 50% 0%;
  transition: all 0.3s ease-out;
  -o-object-fit: cover;
     object-fit: cover;
}

.row {
  transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.marq-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  padding: 4em 0;
}

.marq {
  font-size: 22vh;
  letter-spacing: 4px;
  font-style: italic;
  -webkit-animation: scrollIn 2s cubic-bezier(0.19, 1, 0.22, 1);
          animation: scrollIn 2s cubic-bezier(0.19, 1, 0.22, 1);
}
.marq .scroller {
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  transform: translate3d(0%, 0, 0);
  transform-style: preserve-3d;
  transition: all 0.3s ease-out 1s;
}
.marq .scroller span {
  display: inline-block;
  color: rgba(3, 71, 72, 0.35);
}
.marq .scroller .highlight {
  color: #034748;
  font-style: normal;
}

.marq-2 {
  -webkit-animation: scrollIn-revers 2s cubic-bezier(0.19, 1, 0.22, 1);
          animation: scrollIn-revers 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.marq-3 {
  margin-left: 0.3em;
}

.scroller {
  -webkit-animation: marquee 150s linear infinite;
          animation: marquee 150s linear infinite;
}

.scroller.reverse {
  -webkit-animation: marquee-reverse 80s linear infinite;
          animation: marquee-reverse 80s linear infinite;
}

@-webkit-keyframes marquee {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(-150%, 0, 0);
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(-150%, 0, 0);
  }
}
@-webkit-keyframes marquee-reverse {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}
@keyframes marquee-reverse {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}
@-webkit-keyframes scrollIn {
  0% {
    opacity: 0;
    transform: translate3d(30%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0%, 0, 0);
  }
}
@keyframes scrollIn {
  0% {
    opacity: 0;
    transform: translate3d(30%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0%, 0, 0);
  }
}
@-webkit-keyframes scrollIn-revers {
  0% {
    opacity: 0;
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0%, 0, 0);
  }
}
@keyframes scrollIn-revers {
  0% {
    opacity: 0;
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0%, 0, 0);
  }
}
.about {
  margin-top: 97vh;
  z-index: 2;
  padding: 0 7em;
}
.about .text > p {
  color: var(--textColor);
  font-size: 60px;
  max-width: 90%;
  font-weight: 400;
  line-height: 1.3;
}
.about h2 {
  font-weight: 400;
  margin-top: 2em;
  font-size: 28px;
  color: var(--textColor);
}

.project {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(200, 0, 0, 0.5);
  padding: 2em;
}

article {
  opacity: 0.2;
  background-color: aqua;
  border: 10px solid red;
  padding: 2em;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: block;
}
article .project-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
article .images {
  display: flex;
  padding: 18vh 6em 6em;
  justify-content: center;
  align-items: center;
}
article .images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
article .images .first-image,
article .images .second-image {
  width: 250px;
  height: 300px;
}
article .images .first-image {
  transform: rotateZ(-6deg) translateX(2em);
}
article .images .second-image {
  transform: rotateZ(6deg) translateX(-2em);
}
article .images .main-image {
  z-index: 2;
  box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.61);
  transition: transform 0.4s ease-out;
}
article .images .main-image:hover {
  transform: scale(1.1);
}

.mouse-tail {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--pointer);
  border-radius: 50%;
  z-index: 5000;
  pointer-events: none;
  transition: left 40ms ease-out, top 40ms ease-out, width 0.4s, height 0.4s;
}
.mouse-tail.line {
  height: 4px;
  width: 70px;
  border-radius: 0;
  margin-top: 2.1em;
}
.mouse-tail.rectangle {
  height: 55px;
  width: 270px;
  border-radius: 8px;
  z-index: -1;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-color: antiquewhite;
  z-index: -2;
}

.footer-image {
  position: absolute;
  width: 200%;
}

.footer-image.show {
  width: 180%;
  transition: all 1.5s ease-out;
}

.spliter {
  position: relative;
  height: 100vh;
}
.spliter .top {
  position: absolute;
  top: 0px;
  height: 165px;
  width: 100%;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.19);
  background-color: #879f87;
}

.popup {
  position: fixed;
  right: 80px;
  bottom: 6em;
  display: inline-block;
  padding: 55px;
  border-radius: 130px;
  background-color: #333;
  width: 400px;
  color: white;
  z-index: 1000;
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.4);
  transform: translate3d(150px, 150px, 0px) scale3d(0.4, 0.4, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 0;
  transition: all 0.5s ease-out;
}
.popup a {
  text-decoration: none;
  color: white;
  font-size: 60px;
}

.popup.show {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
}

.popup.top {
  top: 1em;
  left: 50%;
  right: auto;
  margin: 0 auto;
  font-size: 40px;
  width: 100px;
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #879f87;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.19);
  transform: translate3d(-50%, 200px, 0px) scale3d(0.4, 0.4, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transition: all 0.4s ease-out;
}

.popup.top.show {
  transform: translate3d(-50%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transition-delay: 0.5s;
}/*# sourceMappingURL=main.css.map */