@import url("https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap");

.reactColors {
  color: #d8dee9;
  color: #b2b2b2;
  color: #c5a5c5;
  color: #353b45; // colors.dark + extra lightness
  color: #5a9bcf;
  color: #8dc891;
  color: #d7deea;
  color: #ff8b50;
  color: #88c6be;
  color: #fc929e;
  color: #79b6f2;
  color: #fac863;
  color: #6699cc;
  color: #fc929e;
}
